@model Shampan.Models.ModulePermission

@{
    ViewData["Title"] = "Index";
}

@Html.Partial("_Header",new HeaderModel(){ HeaderName = "Module Permission", BreadCrums = new Dictionary<string, string>()
{
    {"/ModulePermission","Index"},
    {"","Index"},
}})

<link href="~/css/button.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="card">

        <div class="card-header p-2">

            <button type="button" title="Add New ModulePermission"
                    data-url="/ModulePermission/Create" onclick="GoTo(this)"
                    id="" class="button NewButton addNewButton">
                New
            </button>


        </div>
    </div>



    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">
                List Of Data
            </h3>

        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered table-striped" style="width:100%" id="ModulePermissionList">
                    <thead>
                        <tr>
                            @*<th class="action"><input type="checkbox" class="chkAll" />&nbsp;Action</th>*@

                            <th class="action">&nbsp;Action</th>
                            <th>User Name</th>
                            <th>Module Name</th>
                            <th>Active</th>




                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

@section scripts{

    <script src="/js/app/Services/CommonService.js"></script>


    <script src="/js/app/Services/ModulePermissionService.js"></script>
    <script src="/js/app/Controllers/ModulePermissionController.js"></script>

    <script>

        $(document).ready(function () {

            ModulePermissionController.init();


        });

    </script>
    }

