@model Shampan.Models.AuditModule.AuditBranchFeedback

@{
    ViewData["Title"] = "Index";
    ////var message = ViewBag.SuccessMsg;
}


@Html.Partial("_Header",new HeaderModel(){ HeaderName = "FeedBack Approve", BreadCrums = new Dictionary<string, string>()
{
    {"/Audit/FeedBackApproveStatusIndex","Index"},
    {"","Index"},
}})

<link href="~/css/button.css" rel="stylesheet" />

<div class="container-fluid">




    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">
                List Of Data
            </h3>

        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered table-striped" style="width:100%" id="FeedBackApproveStatusList">
                    <thead>
                        <tr>
                            <th class="action"><input type="checkbox" class="chkAll" />&nbsp;Action</th>

                            @*<th class="action">&nbsp;Action</th>*@
                            <th>Code</th>
                            <th>Name</th>
                            <th class="status">Approve Status</th>
                            @*<th class="bool">Post</th>*@


                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

@section scripts{

    <script src="/js/app/Services/CommonService.js"></script>
    @*<script src="/js/app/Services/ToursService.js"></script>*@


    <script src="/js/app/Services/FeedBackApproveStatusService.js"></script>
    <script src="/js/app/Controllers/FeedBackApproveStatusController.js"></script>

    <script>

        $(document).ready(function () {

            FeedBackApproveStatusController.init();


        });

    </script>
    }

