
<div id="chart"></div>


@section scripts{
	<script src="/js/app/Controllers/OragnogramController.js"></script>

	<script>
		$(document).ready(function () {

			OragnogramController.init();

		});
	</script>
}